.main-page {
    &__controll {
        display: flex;
        width: 100%;
        .input {
            margin-left: 10px;
            width: 50%;
            height:36px;
            padding-left: 10px;
        }
        .addRecipe-btn {
            margin-right: 10px;
            width: 50%;
        }
    }
}

.recipes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 15px;
}
