.fade-move {
    transition: transform 0.2s;
}
.fade-enter-active {
    transition: opacity 0.5s;
}
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-fast-move {
    transition: transform 0.1s;
}
.fade-fast-enter-active {
    transition: opacity 0.2s;
}
.fade-fast-leave-active {
    transition: opacity 0.2s;
}
.fade-fast-enter,
.fade-fast-leave-to {
    opacity: 0;
}

