* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body .v-application p {
    //rewrite vuetify styles
    margin-bottom: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
.input {
    border: 1px solid gray;
    line-height: 28px;
    border-radius: 3px;
    padding: 0 5px;
    &__name {
        flex-grow: 1;
        min-width: 150px;
    }
    &__count {
        text-align: center;
        width: 60px;
    }
}
.text {
    line-height: 18px;
    text-align: justify;
}
.short-text {
    height: 80px;
    overflow-y: auto;
}
.container{
    max-width: 1000px;
    width:100%;
    margin: 0 auto;
    padding: 0 10px;
}
